{% macro init(data) %}
<div class="article-item" >
  <div class="mdui-card mdui-shadow-1 mdui-color-theme-accent" style="border-radius: 15px;">
    <!-- 卡片的媒体内容 -->
    <div class="mdui-p-a-2">
      <a class="mdui-chip mdui-m-r-1 mdui-color-indigo-50" href="/author/{{ data.user_id }}">
        <img class="mdui-chip-icon"
             src="/{{ data.user_avatar | default(value="assets/images/user.png") | safe }}?date={{ now() }}"
             style="object-fit: cover;"/>
        <span class="mdui-chip-title">{{ data.user_nickname }}</span>
      </a>
    </div>
    <!-- 卡片的内容 -->
    <div class="mdui-card-content mdui-p-t-0 activity-content">
      <a href="/detail/{{ data.alias | default(value=data.id) }}" target="_blank" class="mdui-text-color-theme-text" style="text-decoration: none;">{{ data.description }}</a>
      <div class="image-main" id="image-main-{{ data.id }}" style="margin-top: 10px">
        {% set images = markdown(md=data.content,aid=data.id,type=data.type) %}
        {% if images %}
        {% set len = images | length %}
          {% for index in range(start=0,end=len) %}
            {% if index <= 8 %}
            <div class="image-bar">
              <img src="{{ images[index] }}" class="hvr-grow" id="image-{{data.id}}-{{index}}"
                data-preview="{{ images[index] | replace(from=file.thumbnail_extend, to='') }}"
                   onclick="onViewer({{data.id}}, {{index}})"
              >
              {% if len - 1 > 8 and index == 8 %}
                <div class="image-more" onclick="onViewer({{data.id}}, {{index}})">
                  <span>+{{len-1-8}}</span>
                </div>
              {% endif %}
            </div>
            {% else %}
            <div class="image-bar" style="display: none">
              <img src="{{ images[index] }}"  class="hvr-grow" id="image-{{data.id}}-{{index}}"
                data-preview="{{ images[index] | replace(from=file.thumbnail_extend, to='') }}"
              >
            </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <!-- 卡片的标题和副标题 -->
    <div class="mdui-card-primary mdui-p-t-0">
      <div class="mdui-card-primary-subtitle mdui-text-color-theme-500" style="font-size: 13px;display: flex;">
        <a class="mdui-text-color-theme-500" href="/category/{% if data.category_alias %}{{ data.category_alias }}{% else %}{{ data.category_id }}{% endif %}" style="display: flex;align-items: center;text-decoration: none;">
          <i class="mdui-icon material-icons" style="font-size: 16px;">folder_open</i>
          {{ data.category_name }}
        </a>
        <a style="display: flex;align-items: center;margin-left: 10px">
          <i class="mdui-icon material-icons" style="font-size: 16px;">access_time</i>
          更新于 {{ moment(time=data.updated) }}
        </a>
        <a style="display: flex;align-items: center;margin-left: 10px">
          <i class="mdui-icon material-icons" style="font-size: 16px;">remove_red_eye</i>
          {{ data.views | get_nums(id=data.id, mode=1) }} 次浏览
        </a>
      </div>
    </div>


  </div>
</div>
{% endmacro init %}