<!-- 导航栏 -->
<div class="mdui-appbar mdui-shadow-0" mdui-headroom style="position: fixed; top: 0; left: 0; right: 0;">
    <div class="mdui-toolbar mdui-color-theme-100 mdui-text-color-theme-text">
        <div style="height: 100%">
            <a href="/"><img src="{{ web.icon }}" style="height: 100%;"></a>
        </div>
        <div class="mdui-hidden-xs-down" id="max-nav">

            <!-- <a href="javascript:;" class="mdui-typo-headline">揽月小屋</a> -->
            <a href="/" class="mdui-typo-title mdui-text-color-theme-text {% if url == "/" %}active{% endif %}">首页</a>
            <a href="/category" class="mdui-typo-title mdui-text-color-theme-text {% if url == "/category" %}active{% endif %}">分类</a>
            {% if headers %}
            {% for header in headers %}
            <a href="/category/{{ header.alias | default(value=header.id) }}"
               class="mdui-typo-title mdui-text-color-theme-text {% if url == header.alias | add_str(start="/category/") or url == header.id | as_str | add_str(start="/category/") %}active{% endif %}">{{header.name}}</a>
            {% endfor %}
            {% endif %}
            {% if pages %}
            {% for page in pages %}
            <a href="/detail/{{ page.alias | default(value=page.id) }}"
               class="mdui-typo-title mdui-text-color-theme-text {% if url == page.alias | add_str(start="/detail/") or url == page.id | as_str | add_str(start="/detail/") %}active{% endif %}">{{page.title}}</a>
            {% endfor %}
            {% endif %}
        </div>



        <div class="mdui-toolbar-spacer"></div>
        <!-- 搜索 -->
        <a class="mdui-btn mdui-btn-icon mdui-ripple" href="/search">
            <i class="mdui-icon material-icons">search</i>
        </a>

        <div class="mdui-hidden-sm-up">
            <button class="mdui-btn mdui-btn-icon" mdui-menu="{target: '#base-nav'}">
                <i class="mdui-icon material-icons">menu</i>
            </button>
            <ul class="mdui-menu" id="base-nav">
                <!-- <a href="javascript:;" class="mdui-typo-headline">揽月小屋</a> -->
                <li class="mdui-menu-item"><a href="/" class="mdui-typo-subheading mdui-text-color-indigo-400">首页</a></li>
                <li class="mdui-menu-item"><a href="/category" class="mdui-typo-subheading">分类</a></li>
                {% if headers %}
                {% for header in headers %}
                <li class="mdui-menu-item"><a href="/category/{{ header.alias | default(value=header.id) }}"
                                              class="mdui-typo-subheading">{{header.name}}</a></li>
                {% endfor %}
                {% endif %}
                {% if pages %}
                {% for page in pages %}
                <li class="mdui-menu-item"><a href="/detail/{{ page.alias | default(value=page.id) }}"
                                              class="mdui-typo-subheading">{{page.title}}</a></li>
                {% endfor %}
                {% endif %}
            </ul>
        </div>

        <!-- 菜单 -->

        {% if user %}
        <div class="mdui-btn mdui-btn-icon" mdui-menu="{target:'#index-menu'}"
             style="display: flex;align-items: center;">
            <img class="mdui-img-circle" src="/{{ user.avatar | default(value="assets/images/user.png") | safe }}?date={{ now() }}"
                 style="width: 30px;height: 30px;object-fit: cover;" />
        </div>
        <ul class="mdui-menu mdui-p-t-0" id="index-menu">
            <!-- 用户信息卡 -->
            <li class="mdui-menu-item"
                style="background-image: url(/{{ user.cover | default(value="assets/images/bg.jpg") | safe }}?date={{ now() }});background-position: center;background-size: cover;">
                <div class="mdui-p-t-3 mdui-m-b-1"
                     style="display: flex;justify-content: center;flex-direction: column;">
                    <div style="display: flex;justify-content: center;">
                        <img class="mdui-img-circle"
                             src="/{{ user.avatar | default(value="assets/images/user.png") | safe }}?date={{ now() }}"
                             style="width: 50px;height: 50px;object-fit: cover;border: solid 2px white;" />
                    </div>
                    <div style="display: flex;justify-content: center;">
                        <a href="/author/{{ user.id }}" class="mdui-text-color-white mdui-typo-body-1">{{ user.nickname }}</a>
                    </div>
                </div>

            </li>
            <li class="mdui-menu-item">
                <a href="/manage" class="mdui-ripple">控制台</a>
            </li>
            <li class="mdui-divider"></li>
            <li class="mdui-menu-item">
                <a href="javascript:;" class="mdui-ripple">退出登录</a>
            </li>
        </ul>
        {% else %}
        <a class="mdui-btn mdui-btn-icon" href="/login"
             style="display: flex;align-items: center;">
            <img class="mdui-img-circle" src="/assets/images/user.png"
                 style="width: 30px;height: 30px;object-fit: cover;" />
        </a>
        {% endif %}
        <!-- 菜单结束 -->
    </div>
</div>
<!-- 导航栏结束 -->