<!doctype html>
<html lang="zh-cmn-Hans">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" />
    <meta name="renderer" content="webkit" />
    <meta name="force-rendering" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{% block title %} {% endblock title %}</title>
    {% block head %}
    <!-- MDUI CSS -->
    <link rel="stylesheet" href="/assets/mdui/css/mdui.min.css" />
    <script type="text/javascript" src="/assets/js/axios.min.js"></script>
    <link rel="stylesheet" href="/assets/css/message.min.css">
    <script type="text/javascript" src="/assets/js/message.min.js"></script>
    <style>
        #max-nav a {
            margin-left: 10px;
            margin-right: 10px;
            text-decoration: none;
        }
        #max-nav a:hover {
            border-bottom: solid 2px #7986CB;
        }
        #max-nav .active {
            border-bottom: solid 2px #7986CB;
        }
        .item-title:hover {
            border-bottom: solid 2px red;
        }
    </style>
    {% endblock head %}
</head>

<body class="mdui-theme-primary-indigo">
<div class="mdui-color-theme-50" style="position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: -1">

</div>

{% block nav %}
{% endblock nav %}

{% block main %}
{% endblock main %}

<!-- MDUI JavaScript -->
<script src="/assets/mdui/js/mdui.min.js"></script>
{% block code %}
{% endblock code %}
</body>
</html>