{% extends "base.html" %}


{% block main %}
<div style="position: fixed;top: 0;right: 0;left: 0;bottom: 0;display: flex;justify-content: center;align-items: center;">
    <div class="card">
        <div class="card-content">
          <div class="content">
            <span class="icon-text has-text-danger">
                <span class="icon">
                    <ion-icon name="ban-outline"></ion-icon>
                </span>
                <span>您没有权限访问此页面</span>
              </span>
          </div>
        </div>
      </div>
</div>
{% endblock main %}