{% raw %}
<script id="tp-user-item" type="text/html">
    {{each data.data user key}}
    <div class="mdui-col-lg-3 mdui-col-md-4 mdui-col-xl-6 mdui-p-a-0 mdui-m-a-1"
         style="border-radius: 15px; height: 400px;overflow: hidden;">
        <div style="width: 100%;height: 60%;">
            <img src="{{user.cover?'/'+user.cover:'/assets/images/bg.jpg'}}?date={{ now() }}"
                 style="width: 100%;height: 100%;object-fit:cover;">
        </div>
        <div class="mdui-color-indigo-50"
             style="height: 100%;width: 100%;border-radius: 10px;margin-top: -15px;">
            <div class="mdui-color-indigo-50"
                 style="display: flex;justify-content: start;position: relative;padding: 10px;border-radius: 10px">
                <div>
                    <img src="{{user.avatar?'/'+user.avatar:'/assets/images/user.png'}}?date={{ now() }}"
                         style="width: 60px;height: 60px;object-fit: cover;border-radius: 60px;border: solid 2px white;">
                </div>
                <div>
                    <div class="mdui-m-a-1">
                        <a href="/author/{{user.id}}" class="mdui-typo-body-2"
                           style="font-weight: bold;">{{user.nickname}}

                        </a>
                        <span class="mdui-color-indigo-a200" style="font-size: 13px;border-radius: 2px;padding: 3px;margin-left: 5px;">
                                {{if user.permission=="Admin"}}
                                管理员
                                {{else if user.permission=="General"}}
                                普通用户
                                {{/if}}
                            </span>
                    </div>
                    <div class="mdui-m-a-1">
                        <span class="mdui-typo-body-1">{{user.email}}</span>
                    </div>
                    <div class="mdui-m-a-1">
                        <span class="mdui-typo-caption">上次登录: {{moment(user.logined)}}</span>
                    </div>
                </div>

            </div>
            <div class="mdui-p-l-2 mdui-p-r-2">
                <span class="mdui-typo-body-1">{{user.signature}}</span>
            </div>
            <div style="margin-top: 10px;">
                <div class="mdui-clearfix; mdui-p-a-2">
                    <div class="mdui-grid-tile-buttons mdui-float-right">
                        {{if user.status == "Active"}}
                        <button class="mdui-btn mdui-ripple mdui-color-theme-500" onclick="onChangeStatus({{user.id}}, 'Ban')">封禁</button>
                        {{else if user.status == "Ban"}}
                        <button class="mdui-btn mdui-ripple mdui-color-theme-500" onclick="onChangeStatus({{user.id}}, 'Active')">解封</button>
                        {{/if}}
                        <button class="mdui-m-l-1 mdui-btn mdui-ripple mdui-color-theme-200" onclick="EditTo({{user.id}})">编辑</button>

                    </div>

                </div>
            </div>
        </div>

    </div>
    {{/each}}
</script>
{% endraw %}