<script id="tpl-user-edit" type="text/html">
    {% raw %}
    <div style="position: fixed;top: 0;left: 0;right: 0;bottom: 0;justify-content: center;align-items: center;display: flex;background: rgba(0, 0, 0, .3);z-index: 999;">

                <div class="card" style="width: 50%;">
                    <div class="card-content">
                      <div class="content">
                        <div class="field">
                            <label class="label">Name</label>
                            <div class="control">
                              <input class="input" type="text" placeholder="e.g Alex Smith" value="{{avatar}}">
                            </div>
                          </div>
                          
                          <div class="field">
                            <label class="label">Email</label>
                            <div class="control">
                              <input class="input" type="email" placeholder="e.g. alexsmith@gmail.com" value="{{background}}">
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>


    </div>
    {% endraw %}
</script>