<nav class="navbar" role="navigation" aria-label="main navigation">
    <!-- <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <img src="/static/img/logo.ico" width="30" height="30">
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div> -->
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/manage">概览</a>
        <a class="navbar-item" href="/manage/post/edit_content">撰写</a>
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">管理</a>
            <div class="navbar-dropdown">
                <a class="navbar-item" href="/manage/user">用户管理</a>
                <a class="navbar-item">文章管理</a>
                <a class="navbar-item">分类管理</a>
                <a class="navbar-item">评论管理</a>
                <a class="navbar-item">文件管理</a>
            </div>
        </div>
      </div>
  
      <div class="navbar-end">
        <a class="navbar-item" href="/">返回首页</a>
        {% if user %}
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              {{ user.username }}
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item"  href="/user/info/{{ user.id }}">
                个人资料
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item">
                退出
              </a>
            </div>
          </div>
          {% else %}
        <div class="navbar-item" style="margin-left: 7px;">
          <div class="buttons">
            <a class="button is-light" href="/login">
              登录
            </a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>