{% extends "base_manage.html" %}

{% block head %}
{{ super() }}
<script type="text/javascript" src="/assets/js/arttemplate.js"></script>
<script type="text/javascript" src="/assets/js/moment-with-locales.js"></script>
<link rel="stylesheet" href="/assets/css/pagination.css">
<script type="text/javascript" src="/assets/js/pagination.js"></script>
{% endblock head %}

{% block sidebar %}
{% include "component_manage/sidebar.html" %}
{% endblock sidebar %}

{% block main %}
<!-- 正文内容 -->
<div class="mdui-container" style="margin-top: 50px;">
  <div class="mdui-row">
    <div style="margin-bottom: 20px;">
      <div class="mdui-clearfix">
        <div class="mdui-float-left">
          <div class="mdui-btn-group" style="margin-bottom: 20px;">
            <button type="button" class="mdui-btn mdui-btn-active" id="publish">
              <a>已发布</a>
            </button>
            <button type="button" class="mdui-btn" id="review">
              <a>待审核</a>
            </button>
            <button type="button" class="mdui-btn" id="brush">
              <a>垃圾箱</a>
            </button>

          </div>
        </div>
      </div>

      <div>
        <div>
          <button class="mdui-btn mdui-color-indigo-100"
                  mdui-menu="{target: '#operate-menu'}">操作选择项</button>
          <ul class="mdui-menu" id="operate-menu">
            <li class="mdui-menu-item">
              <a href="javascript:;" class="mdui-ripple" onclick="setStatus('Publish')">发布</a>
            </li>
            <li class="mdui-menu-item">
              <a href="javascript:;" class="mdui-ripple" onclick="setStatus('Review')">待审核</a>
            </li>
            <li class="mdui-menu-item">
              <a href="javascript:;" class="mdui-ripple" onclick="setStatus('Brush')">垃圾箱</a>
            </li>
            <li class="mdui-menu-item">
              <a href="javascript:;" class="mdui-ripple" onclick="onDelete()">删除</a>
            </li>
          </ul>
        </div>

      </div>
    </div>
    <div class="mdui-p-a-2">
      <label class="mdui-checkbox mdui-m-l-1">
        <input type="checkbox" onchange="selectAll(event)" />
        <i class="mdui-checkbox-icon"></i>
        全选
      </label>
    </div>
    <div class="mdui-container-fluid" style="margin-bottom: 20px;" id="data-container">

    </div>
    <!-- 分页 -->
    <div class="mdui-row mdui-p-a-1" id="pagination" style="margin-bottom: 100px;">

    </div>


  </div>
</div>


<!-- 正文内容结束 -->
{% endblock main %}

{% block code %}
{% include "templates/tp_comment_item.html" %}
<script type="text/javascript">
  let list = new Pagination("pagination", {
    page: 1,
    itemNum: 5,
    url: "/comment/list_with_admin",
    param: {
      status: "Publish",
    },
    onSuccess: function (res) {
      console.log(res);
      if (res.data.code === 200) {
        template.defaults.imports.moment = function (timestamp) {
          return moment.unix(timestamp).format("YYYY-MM-DD hh:mm");
        }
        document.getElementById("data-container").innerHTML = template("tp-comment-item", res.data);
      }
    }
  })
  list.init();

  document.getElementById("publish").addEventListener("click", (e)=>{
    document.getElementById("publish").classList.add("mdui-btn-active");
    document.getElementById("review").classList.remove("mdui-btn-active");
    document.getElementById("brush").classList.remove("mdui-btn-active");
    list.param.status = "Publish";
    list.pagination.page = 1;
    list.init();
  })
  document.getElementById("review").addEventListener("click", (e)=>{
    document.getElementById("review").classList.add("mdui-btn-active");
    document.getElementById("publish").classList.remove("mdui-btn-active");
    document.getElementById("brush").classList.remove("mdui-btn-active");
    list.param.status = "Review";
    list.pagination.page = 1;
    list.init();
  })
  document.getElementById("brush").addEventListener("click", (e)=>{
    document.getElementById("brush").classList.add("mdui-btn-active");
    document.getElementById("review").classList.remove("mdui-btn-active");
    document.getElementById("publish").classList.remove("mdui-btn-active");
    list.param.status = "Brush";
    list.pagination.page = 1;
    list.init();
  })

  let selects = [];
  function selectId(e) {
    let value = parseInt(e.target.value);
    if (e.target.checked) {
      if (!selects.includes(value)) {
        selects.push(value);
      }
    } else {
      for (let i=0;i<selects.length;i++) {
        if (selects[i] === value) {
          selects.splice(i, 1);
        }
      }
    }
    console.log(selects);
  }

  function selectAll(e) {
    let articles = document.getElementsByName("comment-id");
    if (e.target.checked) {
      for (let i=0;i<articles.length;i++) {
        if (!articles[i].checked) {
          articles[i].checked = true;
          if (!selects.includes(parseInt(articles[i].value))) {
            selects.push(parseInt(articles[i].value))
          }

        }
      }
    } else {
      for (let i=0;i<articles.length;i++) {
        if (articles[i].checked) {
          articles[i].checked = false;

          for (let j=0;j<selects.length;j++) {
            if (selects[j] === parseInt(articles[i].value)) {
              selects.splice(j, 1);
            }
          }
        }
      }
    }
  }

  function onDelete() {
    axios.all(selects.map(id => {
      axios({
        url: `/comment/delete/${id}`,
        method: "post",
      }).then(res => {
        if (res.data.code === 200) {
          Qmsg.success(`删除${id}成功`);
        } else {
          Qmsg.error(`删除${id}失败`);
        }
      })
    })).then(axios.spread((acc, prem)=>{
      selects = [];
    }))
  }

  function setStatus(status) {
    axios.all(selects.map(id => {
      axios({
        url: `/comment/set_status/${id}`,
        method: "post",
        data: {
          content: status
        }
      }).then(res => {
        if (res.data.code === 200) {
          Qmsg.success(`设置${id}为${status}成功`);
        } else {
          Qmsg.error(`设置${id}为${status}失败`);
        }
      })
    })).then(axios.spread((acc, prem)=>{
      selects = [];
    }))
  }

</script>
{% endblock code %}