{% extends "base_c.html" %}

{% block title %}{{ web.name }}{% endblock title %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/css/vditor.css"/>
<script src="/static/js/vditor.js"></script>
<link href="/static/css/filepond.css" rel="stylesheet"/>
<link href="/static/css/filepond-plugin-image-edit.css" rel="stylesheet"/>
<link href="/static/css/filepond-plugin-image-preview.css" rel="stylesheet"/>
<style>
    .filepond--drop-label {
        color: #4c4e53;
    }

    .filepond--label-action {
        text-decoration-color: #babdc0;
    }

    .filepond--panel-root {
        border-radius: 2em;
        background-color: #edf0f4;
        height: 1em;
    }

    .filepond--item-panel {
        background-color: #595e68;
    }

    .filepond--drip-blob {
        background-color: #7f8a9a;
    }

</style>
{% endblock head %}

{% block nav %}
{% include "component/nav_c.html" %}
{% endblock nav %}

{% block name %}
文章撰写
{% endblock name %}

{% block left %}
<div class="card">
    <div class="card-content">
        <div>
            <div class="field">
                <label class="label">封面(可填写链接或上传)</label>
                <div class="control">
                    <input class="input" type="text" placeholder="url链接">
                </div>
            </div>
        </div>
        <div style="margin-top: 15px;">
            <input type="file" data-allow-reorder="true" data-max-file-size="10MB"
                   id="upload-cover" data-max-files="1">
        </div>
    </div>
</div>

{% endblock left %}

{% block main %}
<div class="card">
    <div class="card-content">
        <div class="field">
            <label class="label">标题</label>
            <div class="control">
                <input class="input" type="text" placeholder="此项必填">
            </div>
        </div>

        <div id="vditor"></div>

        <div class="field" style="margin-top: 5px;">
            <label class="label">摘要</label>
            <div class="control">
                <textarea class="textarea" placeholder="Textarea"></textarea>
            </div>
        </div>

    </div>
</div>
{% endblock main %}

{% block right %}
<div class="card">
    <div class="card-content">
        <div class="tabs">
            <ul>
                <li onclick="select(1)" id="tab1" class="is-active"><a>选项</a></li>
                <li onclick="select(2)" id="tab2"><a>附件</a></li>
            </ul>
        </div>
        <div>
            <div id="select1">

                <div class="modal">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                        <header class="modal-card-head">
                            <p class="modal-card-title">Modal title</p>
                            <button class="delete" aria-label="close"></button>
                        </header>
                        <section class="modal-card-body">
                            <!-- Content ... -->
                        </section>
                        <footer class="modal-card-foot">
                            <button class="button is-success">Save changes</button>
                            <button class="button">Cancel</button>
                        </footer>
                    </div>
                </div>

                <div class="control">
                    <div class="field">
                        <label class="label">分类</label>
                        <div>
                            <button class="button">选择分类</button>
                        </div>
                    </div>
                </div>


                <div class="control" style="margin-top: 15px;">
                    <div class="field">
                        <label class="label">类型</label>
                        <label class="radio">
                            <input type="radio" name="rsvp">
                            发布
                        </label>
                        <label class="radio">
                            <input type="radio" name="rsvp" checked>
                            草稿
                        </label>
                        <label class="radio" disabled>
                            <input type="radio" name="rsvp">
                            页面
                        </label>
                    </div>
                </div>

                <div class="control" style="margin-top: 15px;">
                    <div class="field">
                        <label class="label">允许评论</label>
                        <label class="radio">
                            <input type="radio" name="answer" checked>
                            是
                        </label>
                        <label class="radio">
                            <input type="radio" name="answer">
                            否
                        </label>
                    </div>
                </div>

                <div class="buttons" style="margin-top: 15px;">
                    <button class="button is-primary">提交</button>
                </div>

            </div>
            <div id="select2" style="display: none;">
                <input type="file" data-allow-reorder="true" multiple data-max-file-size="10MB"
                       id="upload-file" data-max-files="20">
            </div>
        </div>
    </div>
</div>
{% endblock right %}

{% block script %}
<script src="/static/js/filepond-plugin-image-validate-size.js"></script>
<script src="/static/js/filepond-plugin-image-exif-orientation.js"></script>
<script src="/static/js/filepond-plugin-image-preview.js"></script>
<script src="/static/js/filepond-plugin-image-edit.js"></script>
<script src="/static/js/filepond.js"></script>
<script type="text/javascript">

    new Vditor('vditor', {
        "height": 500,
        "cache": {
            "enable": true
        },
        "preview": {
            "hljs": {
                "lineNumber": true
            }
        },
        "value": "",
        "mode": "wysiwyg",
        "tab": "\t",
        "counter": {
            "enable": true
        },
        toolbar: [
            'headings', 'italic', 'br', 'bold', 'strike', '|',
            'line', 'emoji', 'quote', 'list', 'ordered-list', 'check', 'code', 'inline-code', '|',
            'undo', 'redo', '|',
            'link', 'table', 'upload', '|',
            'export', 'preview', 'fullscreen',

        ]
    });
    FilePond.registerPlugin(FilePondPluginImagePreview);
    FilePond.registerPlugin(FilePondPluginImageExifOrientation);
    FilePond.registerPlugin(FilePondPluginImageEdit);
    FilePond.registerPlugin(FilePondPluginImageValidateSize);
    const inputElement = document.getElementById("upload-cover");
    let p1 = FilePond.create(inputElement, {
        labelIdle: 	'上传封面 <span class="filepond--label-action"> 浏览 </span>'
    });
    const inputElement1 = document.getElementById("upload-file");
    let p2 = FilePond.create(inputElement1, {
        labelIdle: 	'上传附件 <span class="filepond--label-action"> 选择 </span>'
    });
    function select(id) {
        if (id == 1) {
            document.getElementById(`select${1}`).style.display = 'block';
            document.querySelector(`#tab${1}`).className = "is-active";
            document.getElementById(`select${2}`).style.display = 'none';
            document.querySelector(`#tab${2}`).className = "";
        } else if (id == 2) {
            document.getElementById(`select${2}`).style.display = 'block';
            document.querySelector(`#tab${2}`).className = "is-active";
            document.getElementById(`select${1}`).style.display = 'none';
            document.querySelector(`#tab${1}`).className = "";
        }
    }

</script>
{% endblock script %}