{% extends "base_c.html" %}
{% import "component/pagination.html" as page %}

{% block title %}{{ web.name }}{% endblock title %}

{% block head %}
{{ super() }}
<link href="/static/css/viewer.min.css" rel="stylesheet" />
<script src="/static/js/viewer.min.js"></script>
<script src="/static/js/arttemplate.js"></script>
<script src="/static/js/moment-with-locales.js"></script>
<style>
    .thbody td {
        vertical-align: middle !important;
    }
</style>
{% endblock head %}

{% block nav %}
{% include "component/nav_c.html" %}
{% endblock nav %}

{% block name %}
用户管理
{% endblock name %}

{% block full %}
<div class="card" style="margin-top: 25px;">
    <div class="card-content">
<div style="width: 100%;padding: 15px;">
    <div class="field is-grouped">
        <p class="control is-expanded">
            <input class="input" type="text" placeholder="邮箱" value="" id="email">
        </p>
        <p class="control is-expanded">
            <input class="input" type="text" placeholder="昵称" value="" id="username">
        </p>
        <p class="control">
            <a class="button is-info" onclick="getUserList()">
                过滤
            </a>
        </p>
    </div>



    <table class="table" style="width: 100%;border-radius: 7px;">
        <thead>
            <tr>
                <th>头像</th>
                <th>昵称</th>
                <th>邮箱</th>
                <th>注册时间</th>
                <th>最近登录</th>
                <th>角色</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody id="users">

        </tbody>
    </table>
    {{ page::page(total=total, size=30, url=url, pref='/manage/user') }}
</div>
</div>
</div>
{% endblock full %}


{% block script %}
{% include "template/user_item.html" %}
{% include "component/modal.html" %}
<script type="text/javascript">

    function userEdit(id, avatar, background, username, signature) {
        let data = {
            id: id,
            avatar: avatar,
            background: background,
            username: username,
            signature: signature
        };
        let html = template('tpl-user-edit', data);
        let elem = document.getElementById("modal");
        elem.innerHTML = html;
    }

    function getUserList() {
        query = window.location.search.substring(1);
        var vars = query.split("&");
        let page;
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split("=");
            page = pair;
        }
        if (page.length == 1) {
            page = ["page", "1"]
        }
        let email = document.getElementById('email').value;
        let username = document.getElementById('username').value;
        axios({
            method: 'post',
            url: '/user/list',
            data: {
                page: parseInt(page[1]),
                email: email,
                username: username
            }
        }).then(res => {
            if (res.data.code == 200) {
                template.defaults.imports.moment = function (date) {
                    moment.locale("zh-cn");
                    let d = moment(date * 1000).format("YYYY-MM-DD hh:mm:SS");
                    return d;
                };
                template.defaults.imports.parse_role = function (role) {
                    if (role == "superadmin") return "超级管理员";
                    if (role == "admin") return "管理员";
                    if (role == "general") return "普通用户";
                };
                template.defaults.imports.parse_status = function (status) {
                    if (status == 1) return "活动";
                    if (status == 2) return "限制";
                    if (status == 0) return "封禁";
                };
                let html = template('tpl-user-list', res.data);

                let b = document.getElementById('users');
                b.innerHTML = html;
            } else {
                Qmsg.warning(res.data.msg, {
                    timeout: 3000
                });
            }
        })
    }

    (function () {
        getUserList();
    })()

    function look(elem) {
        const viewer = new Viewer(document.getElementById(elem.id), {
            inline: false,
            toolbar: false,
            navbar: false,
            hide: function () {
                viewer.destroy();
            }
        });
        viewer.show();
    }
</script>
{% endblock script %}