{% extends "base.html" %}
{% import "component/post_item.html" as pitem %}
{% import "component/pagination.html" as page %}

{% block title %}{{ web.name }}{% endblock title %}

{% block head %}
{{ super() }}
<link href="/static/css/viewer.min.css" rel="stylesheet" />
<script src="/static/js/viewer.min.js"></script>
<style>
.title {
    color: #222831;
    text-decoration-line:none;
}
    .title:hover {
        color:#f38181;
        cursor:default;
    }
</style>
{% endblock head %}

{% block nav %}
{% include "component/nav.html" %}
{% endblock nav %}

<!--文章列表内容-->
{% block main %}
<div style="height:50px;">

</div>

{% if posts %}
<div>
{% for post in posts %}
{{ pitem::item(post=post) }}
{% endfor %}
</div>
{% endif %}
<!--{{ page::page(total=2, size=15, url=url, pref='/') }}-->
{% endblock main %}

{% block script %}
<script type="text/javascript">
  function look(elem) {
    const viewer = new Viewer(document.getElementById(elem.id), {
      inline: false,
      toolbar: false,
      navbar: false,
      hide: function () {
        viewer.destroy();
      }
    });
    viewer.show();
  }

</script>

{% endblock script %}