<div class="mdui-drawer mdui-color-white" id="left-bar">
    <div class="mdui-list">
        <li class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">remove_red_eye</i>
            <a href="/manage" class="mdui-list-item-content ">概览</a>
        </li>
        <li class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">edit</i>
            <a href="/manage/edit" class="mdui-list-item-content">撰写</a>
        </li>
        <li class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">description</i>
            <a href="/manage/article" class="mdui-list-item-content">文章管理</a>
        </li>
        <li class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">folder_open</i>
            <a href="/manage/category" class="mdui-list-item-content">分类管理</a>
        </li>
        <li class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">chat</i>
            <a href="/manage/comment" class="mdui-list-item-content">评论管理</a>
        </li>
        <li class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">account_circle</i>

            <a href="/manage/user" class="mdui-list-item-content">用户管理</a>
        </li>
        <li class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">attach_file</i>
            <a href="/manage/file" class="mdui-list-item-content">附件管理</a>
        </li>
    </div>
</div>